<section class="wrap">
  <section id="intro">
    <header>
      <section class="left">
        <img src="/img/ender-logo.png" id="title" />
      </section>
      <section class="right">
        <h3>Build only what you need, when you need it. <em>(edit me below!)</em></h3>
        <form id="download" action="/download" method="get">
          <div class="pre">
            $
            <span class="yellow">ender</span>
            <input name="cmd" autocomplete="off" type="text" value="-b qwery klass underscore" />
            <button>build</button>
          </div>
          <div id='message'>Everythign is fucked</div>
        </form>
        <h3>Lightweight, expressive, familiar.</h3>
<pre>
<code>$('#content .button')
  .bind('click.button', function (e) {
    e.preventDefault();
  })
  .css({
    width: 10,
    color: 'red'
  });<br/>
$.map(['a', 'b', 'c'], function (letter) {
  return letter.toUpperCase();
}); // => ['A', 'B', 'C']<br/>
$.ajax('path/to/html', function (resp) {
  $('#content').html(resp);
});</code>
</pre>
      </section>
    </header>
  </section>
</section>