<section class="wrap">
  <section id="intro">
    <header>
      <section class="left">
        <img src="/img/ender-logo.png" id="title" />
      </section>
      <section class="right">
        <h3>Build only what you need, when you need it.</h3>
        <pre>$ <span class="yellow">ender</span> -b <span class="pomegranate">qwery,klass,underscore</span></pre>
        <h3>Lightweight, expressive, familiar.</h3>

 <pre><code>$('#content .button')
  .bind('click.button', function (e) {
    e.preventDefault();
  })
  .css({
    width: 10,
    color: 'red'
  });<br/>
$.map(['a', 'b', 'c'], function (letter) {
  return letter.toUpperCase();
}); // => ['A', 'B', 'C']<br/>
$.ajax('path/to/html', function (resp) {
  $('#content').html(resp);
});</code></pre>
      </section>
    </header>
  </section>
</section>