<section class="wrap">
  <section id="intro">
    <header>
      <section class="left">
        <img src="/img/ender-logo.png" id="title" />
      </section>
      <section class="right">
        <h3>Build only what you need, when you need it.</h3>
        <pre>$ <span class="yellow">ender</span> build <span class="pomegranate">domready qwery underscore</span></pre>
        <h3>Lightweight, expressive, familiar.</h3>
<pre>
<code>$('#content a.button')
  .bind('click.button', function (e) {
    $(this).data('clicked', true).unbind()
    e.preventDefault()
  })
  .css({
      opacity: 1
    , color: 'red'
  })
  .fadeOut(250)

$.map(['a', 'b', 'c'], function (letter) {
  return letter.toUpperCase()
})

$.ajax('/data', function (resp) {
  $('#content').html(resp)
})</code>
</pre>
      </section>
    </header>
  </section>
</section>