{% extends 'layout.html' %}

{% block head %}
  {% autoescape false %}
    {{ head }}
  {% endautoescape %}
{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div class="page">
      {% autoescape false %}
        {{ content }}
      {% endautoescape %}
    </div>
    <div id="courtesy">
      <p>illustration courtesy <a href="http://raphaelurwiller.com/">raphaelurwiller</a></p>
    </div>
    <div id="hostedby"> 
      <p><a href="http://nodejitsu.com"><img src="img/nodejitsu.png" height="37" width="50"></a> hosting generously provided by <a href="http://nodejitsu.com/">nodejitsu</a></p>
    </div>
  </div>
</section>
{% endblock %}