<section id="content">
  <div class="wrap">
    <div class="page">
      {{{content}}}
    </div>
    <div id="courtesy">illustration courtesy <a href="http://raphaelurwiller.com/" target="_blank">raphaelurwiller</a></div>
  </div>
</section>