{% extends 'layout.html' %}

{% block head %}
  {{ head|raw }}
{% endblock %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div class="page main">
      <div class="sub main">
        {{ mainContent|raw }}
      </div>
      <div class="sub news">

        <div id="news"></div>

        {% for news in newsContent %}

          <a name="news__{{ news.spec.title|replace(' ', '_', 'g')|lower|url_encode }}"></a>
          <h2>
            <a href="#news__{{ news.spec.title|replace(' ', '_', 'g')|lower|url_encode }}">
              {{ news.spec.title }}
            </a>
          </h2>
          <p class="spec"><em>by {{ news.spec.author }} on {{ news.spec.date|date('F jS, Y') }}</em></p>

          {{ news.page|raw }}

          <div class="hr"></div>

        {% endfor %}
      </div>
    </div>
    <div id="courtesy">
      <p>illustration courtesy <a href="http://raphaelurwiller.com/">raphaelurwiller</a></p>
    </div>
    <div id="hostedby"> 
      <p><a href="http://nodejitsu.com"><img src="img/nodejitsu.png" height="37" width="50"></a> hosting generously provided by <a href="http://nodejitsu.com/">nodejitsu</a></p>
    </div>
  </div>
</section>
{% endblock %}
