<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    {{>nav}}
    {{>header}}
    {{{yield}}}
    <script src="/js/ender.min.js"></script>
    <script src="//platform.twitter.com/anywhere.js?id=frmB6pZo25QLmwMoV4z5Cw&v=1"></script>
    <script type="text/javascript">
      var _gaq = _gaq || []
      _gaq.push(['_setAccount', 'UA-22894426-1'])
      _gaq.push(['_trackPageview'])

      $.script(['/js/hijs.js', '/js/app.js'])
      twttr.anywhere(function (T) {
        T.hovercards();
      });
    </script>
    <script src='//www.google-analytics.com/ga.js'></script>
  </body>
</html>