<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Ender - the no-library JavaScript library{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% include "nav.html" %}

    <section class="wrap">
      <section id="intro">
        <header>
          <section class="left">
            <h1>ENDER <span>the no-library library</span></h1>
          </section>
          <section class="right">

            {% block head %}{% endblock %}

          </section>
        </header>
      </section>
    </section>

    {% block content %}{% endblock %}

    <script src="/js/ender.min.js"></script>
    <script src="//platform.twitter.com/anywhere.js?id=frmB6pZo25QLmwMoV4z5Cw&v=1"></script>
    <script type="text/javascript">
      var _gaq = [ [ '_setAccount', 'UA-22894426-1'], ['_trackPageview']]
      twttr.anywhere(function (T) { T.hovercards() })
    </script>
    <script src='//www.google-analytics.com/ga.js'></script>
  </body>
</html>
