<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    {{>menu}}
    {{>header}}
    {{{yield}}}
    <script src="/js/ender.min.js"></script>
    <script type="text/javascript">
      $.script(['/js/hijs.js', '/js/app.js']);
    </script>
  </body>
</html>