<section id="nav">
  <nav>
    <a href="#intro" class="yellow">intro</a>
    <a href="#guide">guide</a>
    <a href="#docs">docs</a>
    <a href="#about">about</a>
    <a href="http://github.com/ded/ender.js" target="_blank">source</a>
    <a href="https://github.com/ded/Ender.js/tarball/master">download</a>
  </nav>
</section>