<section id="nav">
  <nav>
    <a href="#intro" class="yellow">intro</a>
    <a href="#guide">guide</a>
    <a href="#docs">docs</a>
    <a href="#download">download</a>
    <a href="#about">about</a>
    <a href="https://github.com/ender-js/Ender" target="_blank">source</a>
  </nav>
</section>