<section id="nav">
  <nav>
    <a href="#intro" class="yellow">intro</a>
    <a href="#docs">docs</a>
    <a href="#learn">learn</a>
    <a href="#about">about</a>
    <a href="https://github.com/ender-js" target="_blank">source</a>
  </nav>
</section>