<section id="nav">
  <nav>
    <a href="#intro" class="yellow">intro</a>
    <a href="#docs">docs</a>
    <a href="#about">about</a>
    <a href="http://enderjs.com/learn/" target="_blank">learn</a>
    <a href="https://github.com/ender-js/Ender" target="_blank">source</a>
  </nav>
</section>